@font-face {
    font-family: 'Flama';
    src: url('Flama-Basic.woff2') format('woff2'),
        url('Flama-Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flama Book';
    src: url('Flama-Book.woff2') format('woff2'),
        url('Flama-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flama';
    src: url('Flama-Light.woff2') format('woff2'),
        url('Flama-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flama';
    src: url('Flama-Medium.woff2') format('woff2'),
        url('Flama-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

