/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$white: #ffffff;
$black: #000000;
$light-blue: #e6eef2;
$primary-color: #95e8f8;
$text-color: #555555;

/* Components */
