.donut__text {
    fill: #ffffff;
    letter-spacing: 0.25rem;
    font-size: 0.8rem;
}

.donut__wrapper {
    position: relative;
}


.donut__innertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 150px;
    font-size: 0.875rem;
    color: #ff9a80;
}

