@import "../grid";
@import "scrollbar";
@import "sidebar";
@import "card";
@import "slider";
@import "donut";
@import "img-comparison";


.dashboard__greeting {
    margin-top: 30px;
}

.dashboard__actions .btn {
    margin-bottom: 15px;
}

@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .dashboard__greeting {
        margin-top: 10px;
    }
}

@media (min-width: 1200px) {
    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}
