@import "scrollbar";
@import "sidebar";
@import "card";
@import "slider";
@import "donut";
@import "img-comparison";

.dashboard__container {
    align-items: stretch;
    display: flex;
    width: 100%;
    min-height: 100vh;

    margin-right: auto;
    margin-left: auto;
    padding: 56px 0 30px 0;
    @media (min-width: 576px) {
        padding: 80px 0 30px 0;
    }
    @media (min-width: 992px) {
        padding: 110px 0 30px calc(290px + 1.5rem);
    }
}

.dashboard__row {
    display: flex;
    flex-wrap: wrap;
    > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-top: var(--bs-gutter-y);
    }
}

.dashboard__column {
    padding: 0 1.5rem;
    &.col {
        flex: 1 0 0%;
    }
    &.col-auto {
        flex: 0 0 auto;
        width: auto;
    }
}

.dashboard__greeting {
    margin-top: 30px;
}

@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .dashboard__greeting {
        margin-top: 10px;
    }
}

@media (min-width: 1200px) {
    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}
