
.img__comparison__container {
    margin-bottom: 30px;
}

.img__comparison__side {
    width: 49%;
    max-width: 50%;
    & + .img__comparison__side{
        margin-left: 1%;
    }
}

.img__comparison__imagebox {
    height: 320px;
    background-color: #ffffff;
}

.img__comparison__text {
    margin-top: 10px;
    font-size: 14px;
    color: $text-color;
}